    .sbtn {
      border-width: 2px;
      border-style: solid;
      background-color: white;
    }

    .mres {
      border-width: 2px;
      border-style: solid;
      background-image: linear-gradient(Red, OrangeRed, Orange);
    }
